.my-button{
    width: 80%;
}
.my-buttons{
    width: 90%;
    border: none;
    color: rgb(143, 142, 142);
    background: none;
    padding: 10px;
    border-radius: 10px;
}
.my-buttons:hover{
    width: 90%;
    border: none;
    color: black;
    background-color: rgb(207, 207, 207);
}